.background-zigzag::after {
  content: '';
  flex-grow: 1;
  height: 100%;
  border-top-right-radius: 2rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background: linear-gradient(135deg, #8e5e7055 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #8e5e70 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #8e5e7055 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #8e5e70 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}
