@font-face {
  font-family: pangolin;
  src: url(./assets/font/Pangolin-Regular.ttf);
}

@font-face {
  font-family: infant;
  src: url(./assets/font/YsabeauInfant-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

/* Title component styling----------------------------------------------------*/
.title-wrapper {
  /* border: solid red 3px; */
  position: relative;
  width: 80%;
  height: 5rem;
  padding: 1rem;
  justify-content: space-between;
  font-family: pangolin;
  font-size: 2rem;
  color: #aeaeae;
  letter-spacing: 0.5rem;
}

.title-wrapper::before,
.title-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  height: 50%;
  height: 50%;
  width: 100%;
  z-index: -1;
}

.title-wrapper::before {
  top: 0;
  background-color: #fafafa;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px 0px 20px #fafafa;
}

.title-wrapper::after {
  bottom: 0;
  background-color: #e85350;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 0px 3px #e85350;
}

.title-wrapper img {
  height: 100%;
  transition: all ease-in-out 0.8s;
}

.title-wrapper img:hover {
  transform: rotate(360deg);
}

/* Pallet component styling---------------------------------------------------*/
.pallet-wrapper {
  border: solid red 3px;
  width: 60%;
  font-family: Infant;
}

.pallet-wrapper > * {
  border: solid green 3px;
  margin: 0;
}

.pallet-wrapper h2 {
  font-size: 2rem;
  padding: 1rem;
}

.pallet-wrapper > :nth-child(2) {
  align-self: center;
  font-size: 1.2rem;
}

/* Hours styling -------------------------------------------------------------*/
.pallet-wrapper.hours {
  color: blue;
}

.pallet-wrapper.hours ul {
  padding: 0;
}

.pallet-wrapper.hours li {
  list-style: none;
}
