@font-face {
  font-family: pangolin;
  src: url(./assets/font/Pangolin-Regular.ttf);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

/* Title component styling----------------------------------------------------*/
.title-wrapper {
  /* border: solid red 3px; */
  position: relative;
  width: 80%;
  height: 5rem;
  padding: 1rem;
  justify-content: space-between;
  font-family: pangolin;
  font-size: 2rem;
  color: #b09696;
}

.title-wrapper a {
  text-decoration: none;
  color: #b09696;
}

.title-wrapper::before,
.title-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  height: 50%;
  height: 50%;
  width: 100%;
  z-index: -1;
}

.title-wrapper::before {
  top: 0;
  background-color: #f0f0f0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px 0px 20px#f0f0f0;
}

.title-wrapper::after {
  bottom: 0;
  background-color: #e85350;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 0px 5px #e85350;
}

.title-wrapper img {
  height: 100%;
  transition: all ease-in-out 0.8s;
}

.title-wrapper img:hover {
  transform: rotate(360deg);
}
